* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.flashcard {
    background-color: blue;
}

.db-bg-section {
    background: linear-gradient(90deg, rgba(30, 82, 180, 1) 35%, rgba(0, 39, 119, 1) 100%);
    width: 100%;
    height: auto;
    z-index: 0;
}

.navbar-nav {
    gap: 0px 30px;
}

.navbar {
    width: 90%;
}

.header {
    display: flex;
    justify-content: center;
}

.middle-nav-collapse {
    display: flex;
    width: 100%;
    justify-content: center;
}

.middle-nav {
    display: flex;
    width: auto;
    padding: 0px;
    position: relative;
    bottom: 50px;
    z-index: 2;
    background-color: white;
}

.middle-nav-item {
    list-style: none;
    border: dashed black;
    border-width: 0px 2px 0px 0px;
    padding: 15px 60px;
}

.middle-nav-item:last-child {
    border: 0px;
}

.btn:hover {
    background-color: rgb(223, 223, 223);
}

.middle-nav-button {
    border: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 7px;
    transition: 0.30s;
}

.middle-nav-icons {
}

.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #009C3B 0%, #009538 100%);
    width: 100%;
    color: white;
    height: auto;    
    padding: 33px 0px;
}

.footer-logo-section {
    background-color: #FFDF00;
    padding: 7px 0px;
    display: flex;
    justify-content: center;

}

.ad-section {
    display: flex;
    padding: 80px 80px;
    gap: 230px;
}

.ad-section-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media screen and (max-width: 990px) {
    .img-map {
        display: flex;
    }

    .middle-nav {
        flex-direction: column;
        width: 70%;
        border-right: 0px;
    }

    .middle-nav-item {
        border-width: 0px;
    }

    .db-bg-section {
        padding-bottom: 75px;
    }

    .text-col {
        width: 100%;
    }
    
}