@model Jogador

@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<!-- FORMULÁRIO DE LOGIN -->
<main class="fundo-login">
    <div class="bkg-login">
        <form class="frm-login" method="post" action="@Url.Action("Logar")" enctype="multipart/form-data">
            <div class="login-title">
                <hr class="login-line">
                <h1>Login</h1>
            </div>
            <div class="frm-linha">
                <div class="bkg-input">
                    <img src="~/assets/vector-user.svg" alt="ícone de usuário">
                    <input required type="email" name="Email" id="email" placeholder="Digite seu e-mail:">
                </div>
            </div>
            <div class="frm-linha">
                <div class="bkg-input">
                    <img src="~/assets/vector-key.svg" alt="ícone de chave">
                    <input required type="password" name="Senha" id="password" placeholder="Digite sua senha:">
                </div>
            </div>

            <button class="btn-logar" type="submit">Logar</button>
        </form>
    </div>

</main>